<div class="dt-confetti-bg">
	<?xml version="1.0" encoding="utf-8"?>
	<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1366 768"
	 style="enable-background:new 0 0 1366 768;" xml:space="preserve">
		<style type="text/css">
			.st0 {
				display: none;
			}

			.st1 {
				display: inline;
			}

			.st2 {
				clip-path: url(#SVGID_2_);
			}

			.st3 {
				clip-path: url(#SVGID_4_);
				enable-background: new;
			}

			.st4 {
				clip-path: url(#SVGID_6_);
			}

			.st5 {
				clip-path: url(#SVGID_8_);
				fill: #1BB1DC;
			}

			.st6 {
				clip-path: url(#SVGID_10_);
			}

			.st7 {
				fill: #FFFFFF;
			}

			.st8 {
				font-family: 'CircularStd-Black';
			}

			.st9 {
				font-size: 124.73px;
			}

			.st10 {
				letter-spacing: -5.3;
			}

			.st11 {
				letter-spacing: -3.2;
			}

			.st12 {
				letter-spacing: -7.4;
			}

			.st13 {
				letter-spacing: -4.2;
			}

			.st14 {
				letter-spacing: -2.1;
			}

			.st15 {
				letter-spacing: -6.3;
			}

			.st16 {
				clip-path: url(#SVGID_12_);
			}

			.st17 {
				fill: #008DAF;
			}

			.st18 {
				fill: #D6DE23;
			}

			.st19 {
				fill: #F16522;
			}

			.st20 {
				fill: #FFC10E;
			}
		</style>
		<g id="Layer_3" class="st0">
			<g class="st1">
				<defs>
					<rect id="SVGID_1_" x="2" y="1.1" width="1364" height="700.1" />
				</defs>
				<clipPath id="SVGID_2_">
					<use xlink:href="#SVGID_1_" style="overflow:visible;" />
				</clipPath>
				<g class="st2">
					<defs>
						<rect id="SVGID_3_" x="2" y="1.1" width="1364" height="2133" />
					</defs>
					<clipPath id="SVGID_4_">
						<use xlink:href="#SVGID_3_" style="overflow:visible;" />
					</clipPath>
					<g class="st3">
						<g>
							<defs>
								<rect id="SVGID_5_" x="2" y="1.1" width="1364" height="700.1" />
							</defs>
							<clipPath id="SVGID_6_">
								<use xlink:href="#SVGID_5_" style="overflow:visible;" />
							</clipPath>
							<g class="st4">
								<defs>
									<rect id="SVGID_7_" x="2" y="1.1" width="1364" height="700.1" />
								</defs>
								<clipPath id="SVGID_8_">
									<use xlink:href="#SVGID_7_" style="overflow:visible;" />
								</clipPath>
								<rect x="-2.7" y="-3.8" class="st5" width="1373.5" height="710" />
							</g>
						</g>
					</g>
				</g>
			</g>
			<g class="st1">
				<defs>
					<rect id="SVGID_9_" x="24" y="15.5" width="1315" height="2060.9" />
				</defs>
				<clipPath id="SVGID_10_">
					<use xlink:href="#SVGID_9_" style="overflow:visible;" />
				</clipPath>
				<g class="st6">
					<text transform="matrix(0.9518 0 0 1 243.166 336.9561)">
						<tspan x="0" y="0" class="st7 st8 st9 st10">C</tspan>
						<tspan x="90.1" y="0" class="st7 st8 st9 st11">u</tspan>
						<tspan x="160.5" y="0" class="st7 st8 st9 st11">e </tspan>
						<tspan x="253.4" y="0" class="st7 st8 st9 st12">t</tspan>
						<tspan x="293.4" y="0" class="st7 st8 st9 st11">he </tspan>
						<tspan x="456.8" y="0" class="st7 st8 st9 st13">c</tspan>
						<tspan x="522.4" y="0" class="st7 st8 st9 st11">on</tspan>
						<tspan x="662.7" y="0" class="st7 st8 st9 st13">f</tspan>
						<tspan x="703.3" y="0" class="st7 st8 st9 st11">et</tspan>
						<tspan x="813.2" y="0" class="st7 st8 st9 st14">t</tspan>
						<tspan x="857.7" y="0" class="st7 st8 st9 st11">i,</tspan>
						<tspan x="925.9" y="0" class="st7 st8 st9"> </tspan>
					</text>
				</g>
				<g class="st6">
					<text transform="matrix(0.9518 0 0 1 243.166 471.2822)">
						<tspan x="0" y="0" class="st7 st8 st9 st15">y</tspan>
						<tspan x="65.2" y="0" class="st7 st8 st9 st11">o</tspan>
						<tspan x="135" y="0" class="st7 st8 st9 st13">u</tspan>
						<tspan x="204.4" y="0" class="st7 st8 st9 st15">’</tspan>
						<tspan x="228" y="0" class="st7 st8 st9 st11">r</tspan>
						<tspan x="274.4" y="0" class="st7 st8 st9 st11">e </tspan>
						<tspan x="367.3" y="0" class="st7 st8 st9 st13">c</tspan>
						<tspan x="432.9" y="0" class="st7 st8 st9 st10">ov</tspan>
						<tspan x="565.9" y="0" class="st7 st8 st9 st11">e</tspan>
						<tspan x="631.9" y="0" class="st7 st8 st9 st11">r</tspan>
						<tspan x="678.3" y="0" class="st7 st8 st9 st11">e</tspan>
						<tspan x="744.3" y="0" class="st7 st8 st9">d</tspan>
					</text>
				</g>
			</g>
		</g>
		<g id="Layer_1" class="st0">
			<g class="st1">
				<defs>
					<rect id="SVGID_11_" x="-37" y="-676" width="1440" height="2148" />
				</defs>
				<clipPath id="SVGID_12_">
					<use xlink:href="#SVGID_11_" style="overflow:visible;" />
				</clipPath>
				<g class="st16">
					<defs>
						<rect id="SVGID_13_" x="-67" y="-666" width="1580" height="695" />
					</defs>
					<clipPath id="SVGID_14_">
						<use xlink:href="#SVGID_13_" style="overflow:visible;" />
					</clipPath>
					<g style="clip-path:url(#SVGID_14_);">

						<image style="overflow:visible;" width="1250" height="550" xlink:href="C637916CF74F7CD8.png" transform="matrix(1.264 0 0 1.2636 -67 -666)">
						</image>
					</g>
				</g>
			</g>
		</g>
		<g id="Blue">
			<polygon class="st17" points="266.7,57.1 250.4,70.6 260.4,80.6 	" />
			<polygon class="st17" points="990.8,7.3 978.3,13.8 984.7,20.6 	" />
			<polygon class="st17" points="471.1,322.2 458.6,335.1 481.5,343.3 	" />
			<polygon class="st17" points="673.7,47.9 649.6,56.4 666.9,66.3 	" />
			<polygon class="st17" points="51,475.3 42.6,485.6 66.9,482.3 	" />
			<polygon class="st17" points="350.7,49.3 354.5,69.9 371.3,69.4 	" />
			<polygon class="st17" points="1180.3,184.6 1166.3,208.9 1185,204.7 	" />
			<polygon class="st17" points="971,214.2 945.7,233.9 977.5,227.3 	" />
			<polygon class="st17" points="877.2,4.8 873.5,20.7 889.4,25.8 	" />
			<polygon class="st17" points="1161.6,141 1139.1,136.1 1159.7,162.8 	" />
			<polygon class="st17" points="740.3,156 728.1,188.7 756.2,175.6 	" />
			<polygon class="st17" points="100.3,97 88.1,129.7 116.2,116.6 	" />
			<polygon class="st17" points="819.1,68.6 802.7,77 815.3,92.6 	" />
			<polygon class="st17" points="1340.9,345.8 1330.8,366.9 1356.1,355.1 	" />
			<polygon class="st17" points="303.3,-9.9 294.8,8.1 315.4,11.1 	" />
			<polygon class="st17" points="1295.7,252.5 1288.8,273.2 1316.2,267.1 	" />
			<polygon class="st17" points="1280.5,207.9 1268.4,232.2 1293.6,213.5 	" />
			<polygon class="st17" points="923.5,89.3 916.9,109 942.2,105.7 	" />
			<rect x="1240.9" y="173.5" class="st17" width="14.2" height="14.2" />
			<rect x="267" y="98.8" class="st17" width="6.7" height="25" />
			<rect x="964.5" y="93.8" class="st17" width="11.5" height="20.9" />
			<polygon class="st17" points="748.6,32.4 742.1,35.9 741.3,25.6 750,24.2 	" />
			<polygon class="st17" points="225.7,352.5 213,355 202.1,332.1 230.8,334.7 	" />
			<polygon class="st17" points="36.5,195 22.1,192.5 3.5,167.1 39.9,185.7 	" />
			<polygon class="st17" points="460.9,200.9 440.6,186.5 449.1,172.1 471.9,183.1 	" />
			<polygon class="st17" points="214.3,75.6 200.7,67.1 196.5,46.8 210,53.6 	" />
			<polygon class="st17" points="701,30 686.6,30 697.6,7.2 715.4,4.6 	" />
			<polygon class="st17" points="40.6,324.8 19.7,328 7.7,315.9 43,304.7 	" />
			<polygon class="st17" points="480.7,71.3 466.3,62 460.4,41.7 484.1,39.2 	" />
			<polygon class="st17" points="812.9,21 797.7,26.1 800.2,9.2 818,-1.8 	" />
			<polygon class="st17" points="1059.1,50.1 1034.6,39.9 1026.1,16.2 1042.2,19.6 	" />
			<polygon class="st17" points="433,10 408.5,10 405.1,-9.1 433,-12.4 	" />
			<polygon class="st17" points="337.7,132.2 313.1,132.2 323.3,126.3 347.8,126.3 	" />
		</g>
		<g id="Green">
			<polygon class="st18" points="827.3,215.9 816.7,224.1 823.8,229.5 	" />
			<polygon class="st18" points="940.3,46.4 925.2,54.6 943.8,68.7 	" />
			<polygon class="st18" points="932.4,7.2 920.1,10.2 940.5,21.7 	" />
			<polygon class="st18" points="1222.4,151.5 1211.7,168.6 1229.3,186.9 	" />
			<polygon class="st18" points="1195.7,304 1165.1,304.5 1193.2,317.8 	" />
			<polygon class="st18" points="100.4,276.3 97.3,294.6 109.6,288 	" />
			<polygon class="st18" points="371.8,8.7 359.8,18.8 369,31.8 	" />
			<polygon class="st18" points="193.8,90.4 172.1,86.4 192.6,111.3 	" />
			<polygon class="st18" points="890.1,100.4 874.7,109 887.3,123.5 	" />
			<polygon class="st18" points="1354.1,415.9 1332.6,422.1 1357.1,432.7 	" />
			<polygon class="st18" points="1084.3,1.2 1070.9,14.6 1088.5,23.9 	" />
			<polygon class="st18" points="90.5,424.3 71.1,432.2 92.6,448.3 	" />
			<polygon class="st18" points="1300.1,141.4 1276.8,153 1306.9,153.2 	" />
			<polygon class="st18" points="1021.2,169.2 1004.9,180.4 1026.1,192.5 	" />

			<rect x="1336.4" y="188.9" transform="matrix(0.8157 0.5785 -0.5785 0.8157 364.1458 -739.9805)" class="st18" width="13.8"
			 height="25.1" />
			<polygon class="st18" points="1114.5,406.8 1107.6,405.8 1112.8,397.5 1120.3,401.4 	" />
			<polygon class="st18" points="653.2,111 642,105.7 646.8,81.9 667.3,100.4 	" />
			<polygon class="st18" points="1303.5,333.1 1294,322.9 1294.4,292.8 1311.5,328 	" />
			<polygon class="st18" points="299.6,200.7 292.3,178.1 307.1,171.9 318.2,193.5 	" />
			<polygon class="st18" points="1349.9,155.5 1338.9,147.2 1360.4,136.1 1375.5,144.4 	" />
			<polygon class="st18" points="773.2,66.4 767.6,51.1 774.7,32.1 794.3,43.8 	" />
			<polygon class="st18" points="120.2,43.4 114.6,28.1 121.7,9.1 141.3,20.8 	" />
			<polygon class="st18" points="897.2,50 882.6,45.1 894.3,33.6 914.2,35.4 	" />
			<polygon class="st18" points="1306,534.2 1287.3,520 1295.9,503.2 1319.2,516.7 	" />
			<polygon class="st18" points="1135,95.2 1116.3,81 1124.9,64.2 1148.2,77.7 	" />
			<polygon class="st18" points="1347.3,609.3 1328.6,595.2 1339.8,596.5 1358.5,610.6 	" />
			<polygon class="st18" points="113.8,338.9 101.8,354.9 128.2,355.6 133,350.5 	" />
		</g>
		<g id="Red">
			<polygon class="st19" points="339.9,17.9 341.6,26.9 350.7,12.6 	" />
			<polygon class="st19" points="1315.3,240.8 1327.8,247.9 1335.1,238.8 	" />
			<polygon class="st19" points="746.7,13.6 758.7,21.9 772.5,9.9 	" />
			<polygon class="st19" points="608.1,0.9 614.8,19.1 620.9,7.3 	" />
			<polygon class="st19" points="676,202.7 675.2,224.8 685.9,205 	" />
			<polygon class="st19" points="507.1,15.9 518.3,33.7 523.6,18.8 	" />
			<polygon class="st19" points="1281.4,419.6 1277.7,435.1 1296.4,421.3 	" />
			<polygon class="st19" points="1292.4,191 1296.1,206.8 1304.6,189.5 	" />
			<polygon class="st19" points="1271.4,96 1275.1,111.8 1283.6,94.5 	" />
			<polygon class="st19" points="1254.5,555.4 1263.6,565.6 1271,553.3 	" />
			<polygon class="st19" points="1166.9,97.8 1180.6,98 1176.6,84.2 	" />
			<polygon class="st19" points="1337.7,11.5 1342.6,25.7 1355.1,10.9 	" />
			<polygon class="st19" points="1350.2,308.7 1357.8,320.8 1367.2,306 	" />

			<rect x="1059.5" y="93.8" transform="matrix(0.6419 -0.7668 0.7668 0.6419 304.9483 852.8608)" class="st19" width="12.3" height="12.3"
			/>

			<rect x="13.5" y="117.8" transform="matrix(0.6419 -0.7668 0.7668 0.6419 -88.0105 59.408)" class="st19" width="12.3" height="12.3"
			/>

			<rect x="16.6" y="227.9" transform="matrix(0.6419 -0.7668 0.7668 0.6419 -176.0047 100.4574)" class="st19" width="5.8" height="21.6"
			/>

			<rect x="691.9" y="138.1" transform="matrix(0.6419 -0.7668 0.7668 0.6419 136.6801 587.0413)" class="st19" width="9.9" height="18.1"
			/>
			<polygon class="st19" points="81,245.9 73.3,234.3 92.5,230.9 96.7,247.2 	" />
			<polygon class="st19" points="259.7,106.8 249.2,110.2 236.6,103.4 246.2,99.3 	" />
			<polygon class="st19" points="856.3,127.8 848,133.8 837.4,127.7 849.2,116.4 	" />
			<polygon class="st19" points="870.3,70.8 866,83.2 857.3,69 865.4,57.5 	" />
			<polygon class="st19" points="550.6,107.8 539.3,111.3 526,105.4 535.1,91.7 	" />
			<polygon class="st19" points="486.9,92.7 470.6,101.2 454.3,95.2 463.3,88.2 	" />
			<polygon class="st19" points="330.5,67.1 319.7,80.1 307.9,73.2 318.4,57 	" />
			<polygon class="st19" points="217.4,220.2 206.6,233.2 207.9,225.2 218.8,212.2 	" />
			<polygon class="st19" points="169,268.6 167.5,288.6 155.9,278.9 165.4,264.8 	" />
		</g>
		<g id="Yellow">
			<polygon class="st20" points="822.2,159.2 802,157.4 802,170.8 	" />
			<polygon class="st20" points="358,95.6 345,92 345,101 	" />
			<polygon class="st20" points="222.7,21.1 207,14 207,37.2 	" />
			<polygon class="st20" points="1089.1,163 1073.4,144.2 1070.3,163 	" />
			<polygon class="st20" points="738.8,74.2 729,66.2 732.1,89.5 	" />
			<polygon class="st20" points="1081.9,353.7 1062.3,357.2 1062.7,373.4 	" />
			<polygon class="st20" points="624.5,35.5 604.3,37.3 600.3,62.4 	" />
			<polygon class="st20" points="1328.9,281.1 1334.8,297 1341.5,286.1 	" />
			<polygon class="st20" points="1260,259.5 1244.7,256 1239.8,271.2 	" />
			<polygon class="st20" points="946.8,169.2 937,149.5 929.4,180.9 	" />
			<polygon class="st20" points="1019.4,60.7 1003.3,53.5 999.3,72.3 	" />
			<polygon class="st20" points="580.7,49.2 562.8,35.7 569.1,61.7 	" />
			<polygon class="st20" points="268.9,-0.1 250.1,-2.8 253.2,16.9 	" />
			<polygon class="st20" points="60.1,396.4 43.1,386.3 43.1,411.7 	" />

			<rect x="456.1" y="2.6" transform="matrix(-0.3939 0.9191 -0.9191 -0.3939 657.8754 -411.6134)" class="st20" width="17" height="17"
			/>

			<rect x="602.2" y="172.5" transform="matrix(0.774 0.6332 -0.6332 0.774 255.7679 -341.5109)" class="st20" width="8.1" height="29.9"
			/>

			<rect x="752.9" y="98.6" transform="matrix(0.4229 0.9062 -0.9062 0.4229 539.2099 -624.3221)" class="st20" width="13.8" height="25.1"
			/>
			<polygon class="st20" points="586.4,10 583.1,3.8 592.9,3 594.3,11.4 	" />
			<polygon class="st20" points="1102.3,208.7 1099.8,196.6 1121.7,186.1 1119.3,213.6 	" />
			<polygon class="st20" points="1028.8,33.4 1031.3,19.6 1055.5,1.8 1037.7,36.6 	" />
			<polygon class="st20" points="1260.4,381.2 1274.2,361.8 1287.9,369.9 1277.4,391.7 	" />
			<polygon class="st20" points="543.6,17.1 551.7,4.2 571.1,0.1 564.6,13.1 	" />
			<polygon class="st20" points="505.1,168.3 501.9,147.2 514,135.1 525.4,170.7 	" />
			<polygon class="st20" points="14.1,281.9 8,265.8 28.7,272.7 30.2,291.1 	" />
			<polygon class="st20" points="66.5,193.9 75.4,180.1 94.9,174.5 97.3,197.1 	" />
			<polygon class="st20" points="1153.6,6.6 1150.7,-5.2 1160.6,-3.2 1167,10.5 	" />
			<polygon class="st20" points="639.7,38.9 649.4,15.4 672.1,7.3 668.9,22.7 	" />
			<polygon class="st20" points="848.2,37.6 848.2,14.2 853.9,23.9 853.9,47.3 	" />
			<polygon class="st20" points="411.4,48.4 395.2,25.8 416.2,25.8 418.6,49.2 	" />
		</g>
		<g id="Circle">
			<circle class="st17" cx="1028.5" cy="132.5" r="7.5" />
			<circle class="st17" cx="1271.5" cy="-1.5" r="6.5" />
			<circle class="st18" cx="230" cy="147" r="7" />
			<circle class="st18" cx="601.5" cy="90.5" r="10.5" />
			<circle class="st18" cx="1224.5" cy="104.5" r="10.5" />
			<circle class="st20" cx="404.5" cy="108.5" r="5.5" />
			<circle class="st20" cx="150.5" cy="187.5" r="10.5" />
			<circle class="st19" cx="971.5" cy="46.5" r="4.5" />
		</g>
	</svg>

</div>
<div class="dt-haven-logo">
	<svg width="100%" height="100%" viewBox="0 0 67 67" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
		<desc>Created with Sketch.</desc>
		<defs></defs>
		<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			<g id="Artboard" transform="translate(-25.000000, -22.000000)" fill="#FFFFFF" fill-rule="nonzero">
				<g id="haven-life-logo-common_white" transform="translate(25.000000, 22.000000)">
					<polygon id="Shape" points="40 67 0 67 0 0 13.5521688 0 13.5521688 53.383263 26.6822978 53.383263 26.6822978 40.1905767 40 40.1905767"></polygon>
					<polygon id="Shape" points="27 26.8094233 40.3177022 26.8094233 40.3177022 13.616737 53.4478312 13.616737 53.4478312 67 67 67 67 0.047116737 27 0"></polygon>
				</g>
			</g>
		</g>
	</svg>
</div>
<div class="main">
	<h1 class="dt-title">Donut Time! Leaderboard
	</h1>
	<div class="dt-table">
		<div class="dt-table-row dt-table-row--title">
			<div class="dt-table-col dt-table-col--title">Rank</div>
			<div class="dt-table-col dt-table-col--title">Person</div>
			<div class="dt-table-col dt-table-col--title">Lifetime Donuts Recieved</div>
		</div>
		 {{#each leaders}}
		<div class="dt-table-row dt-table-row--data">
			<div class="dt-table-col dt-table-col--data">{{inc @index}}</div>
			<div class="dt-table-col dt-table-col--data"><img class="dt-table-col--avatar" src={{this.avatar}} onerror={{imgerr this}}/>{{this.real_name}}</div>
			<div class="dt-table-col dt-table-col--data">{{this.lifetimeDonuts}} 🍩</div>
		</div>
		{{/each}}
	</div>
	<div class="dt-table dt-table-row--directions">
		<h1 class="dt-title dt-title--donut"><img alt="Donut" height="40" width="auto" src="./donut.png" /> How to Donut <img alt="Donut" height="40" width="auto" src="./donut.png" /></h1>
		<p>Add a donut after someone's username like this <code>@username :doughnut:</code>, <code>@username :donuttime:</code> or <code>@username :donut2:</code>. You can include a message as well.<br>Everyone has <b>6</b> donuts to give out per day and can only give donuts in the <code>#donuttime</code> channel.</p>
	</div>
</div>